body {
    margin: 0;
    background-color: #e0d8e0;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 50px;
    min-height: 100vh;
    animation: appear 1s ease;

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-text {
    max-width: 50%;
}



.brand {
    animation: slideUp 0.7s ease-out forwards;

}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.brand span {
    display: flex;
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 50px;
    text-align: center;
    color: #396882;
    font-family: 'Arimo';
}

.brand i {
    position: absolute;
    top: 63px;
    left: 13px;
    font-size: 35px;
    color: #396882;
}

.brand img {
    width: 25px;
    margin-right: 10px;
}


.hero-text {
    max-width: 50%;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    letter-spacing: -0.2em;

    animation: slideRight 2s ease alternate forwards;
    opacity: 0;


}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 1;
        transform: translateX(10px);
    }
}

.hero-text h1 {
    font-size: 6.5em;
    color: #396882;
    text-align: start;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    letter-spacing: -0.07em;
    font-size: 7em;

}

.hero-text p {
    margin-top: 15%;
    margin-left: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}



.hero-image {
    position: relative;
    width: 45%;
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.image-wrapper {
    transform: rotate(20deg);
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15%;
    top: 45%;
    width: 25%;
    animation: slideLeft 3s ease forwards, swing 6s 3s ease infinite alternate-reverse;
    transform-style: preserve-3d;
}

@keyframes slideLeft {
    0% {
        transform: rotate(20deg) translateX(300px) translateY(0);
    }

    50%,
    70% {
        transform: rotate(20deg) translateX(0) translateY(0);
    }

    100% {
        transform: rotate(20deg) translateX(0) translateY(-100px);
    }
}


.image-wrapper img {
    width: 80%;
    height: auto;
    display: block;
}

.insta-btn {
    width: 207px;
    height: 30px;
    text-align: center;
    border: 1px solid #694b70;
    border-radius: 40px;
    padding: 20px 30px;
    color: #191130;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
    position: absolute;
    bottom: 17%;
    right: 50%;
    animation: slideUpBtn 0.8s 2.2s ease-out alternate forwards;
    opacity: 0;
}

.insta-btn p {
    position: absolute;
    bottom: -50%;
    left: 25%;
}

@keyframes slideUpBtn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



button i {
    background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 25%;
    left: 9%;
}

/* Responsive */
@media (max-width: 768px) {



    .brand i {
        top: 30px;
        transform: translate(-45px);
    }

    .brand span {
        top: 15px;
        transform: translate(-40px);
    }
}